html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
body {
  background-color: #000;
}
.wrapper {
}
.header {
  &__title {
    padding-top: 20px;
    text-align: center;
    font-family: "Lab Grotesque";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffcf7a;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 15px;
  }
  &__list-item {
    margin: 0 auto;
  }
  &__list-link {
    font-family: "Lab Grotesque";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #949494;
    &:hover {
      color: #ffcf7a;
      transition: ease 0.66s;
    }
  }
}
