<h3 class="search__git-title">Пошук користувача GitHub</h3>
<div class="Username">
  <input
    class="input"
    placeholder="Username"
    name="text"
    type="text"
    id="search"
  />
  <button (click)="search()">Пошук</button>
</div>
<div class="card">
  <div class="card__item">
    <div class="card__border-top"></div>
    <div *ngIf="response" class="card__img">
      <img src="{{ response.avatar_url }}" alt="avatar" />
    </div>
    <span class="card__person"> Username</span>
    <p class="card__job">Job Title</p>
    <button class="card__button">GitHub</button>
  </div>
</div>
